@import 'https://fonts.googleapis.com/css?family=Ubuntu:400,500&subset=latin,cyrillic';

html, body {
  width: 100%; height: 100%;
}
body {
  font-family: 'Ubuntu', serif; font-size: 36px;
  background: #00f; color: #fff;
}
.translate {
  display: flex; width: 100%; height: 100%;
  justify-content: center; align-items: center;
}
