table {
    border-collapse: collapse;
}

thead, tfoot {
    font-weight: bold;
    text-align: center;
}

td {
    border: 1px solid black;
    padding: 10px;
}

.table__result {
    text-align: left;
}

