body * {
    margin: 0;
    padding: 0;
    block-size: border-box;
    font-family: Arial;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1; /* ie 6/7 */
}

h2 {
    font-size: 20px;
    padding: 27px 0 27px 18px;
    margin: 0 0 34px 0;
    border-bottom: 1px solid #e5e5e5;
}

.container {
    width: 1000px;
    margin: 0 auto;
    overflow: visible;
}

.top-panel {
    width: 100%;
    height: 55px;
    background-color: #00122f;
    color: white;
    font-size: 16px;
}

.top-panel a {
    color: inherit;
    font-size: 16px;
}

.top-panel__slogan {
    float: left;
    margin-top: 18px;
}

.top-panel__clock {
    float: right;
    margin-top: 18px;
}

.header {
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
}

.header * {
    border: none;
    background-color: white;
    font-size: 16px;
}

.header__logo {
    float: left;
    position: relative;
}

.header__logo img {
    width: 121px;
}

.header__city {
    float: left;
    position: relative;
    color: #448ccb;
    margin-left: 60px;
    top: 10px;
    text-decoration: underline;
}

.header__search {
    float: right;
    width: 320px;
    background-color: #f3f3f3;
    height: 45px;
    padding: 0;
    border-radius: 21px;
}

.header__search-input {
    position: relative;
    top: 14px;
    left: 21px;
    background-color: #f3f3f3;
}

.header__search button {
    background: #f3f3f3 url("img/icon-lens.png") center no-repeat;
    width: 21px;
    height: 21px;
    float: right;
    position: relative;
    top: 12px;
    left: -22px;
}

.header__weather {
    float: right;
    position: relative;
    margin-right: 70px;
    color: gray;
    top: 10px;
}

.nav {
    margin-bottom: 36px;
}

.nav__list {
    list-style: none;
    padding: 0;
}

.nav__list-item {
    float: left;
    margin-right: 45px;
    margin-left: 0;
    font-size: 16px;
}

.nav__list-item a {
    color: black;
    text-decoration: none;
}

main {
    padding-top: 20px;
    background-color: #f9f9f9;
    background-image: url("img/central-bg-top.png");
    background-repeat: repeat-x;
}

.daily {
    float: left;
    width: 250px;
    background-color: white;
}

.daily__item {
    padding-left: 18px;
    margin-bottom: 27px;
}

.daily__item-text {
    margin-bottom: 20px;
    font-size: 14px;
}

.daily__item-props {
    position: relative;
    font-size: 12px;
}

.daily__item-props a {
    color: #91919f;
    /*float: left;*/
}

.daily__time {
    position: absolute;
    display: inline-block;
    left: 120px;
    background-image: url("img/icon-time.png");
    background-repeat: no-repeat;
    padding-left: 15px;
}

.daily__comment-count {
    position: absolute;
    display: inline-block;
    left: 180px;
    background-image: url("img/icon-comments.png");
    background-repeat: no-repeat;
    padding-left: 15px;
}


.central {
    float: left;
    width: 460px;
    margin-left: 18px;
    font-size: 12px;
}

.central__top {
    position: relative;
    color: white;
    margin-bottom: 15px;
}

.central__top-props {
    position: absolute;
    bottom: 40px;
    left: 20px;
    margin-right: 20px;

}

.central__top-props a {
    display: block;
    margin-bottom: 24px;
    color: inherit;
}

.central__text {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 24px;
}

.central__date {
    display: inline-block;
}

.central__time {
    position: absolute;
    display: inline-block;
    left: 85px;
    background-image: url("img/icon-time.png");
    background-repeat: no-repeat;

    padding-left: 15px;
}

.central__item {
    display: inline-block;
    width: 220px;
    height: 235px;
    overflow: hidden;
    margin-bottom: 15px;
}

.central__item img {
    width: 220px;
}


.central__item:nth-child(odd) {
    float: left;
}

.central__item:nth-child(even) {
    float: right;
}

.central__item-props {
    position: relative;
    font-size: 12px;
}

.central__item-props a {
    color: #91919f;
    /*float: left;*/
}

.central__item-props .item-time {
    position: absolute;
    display: inline-block;
    left: 85px;
    background-image: url("img/icon-time.png");
    background-repeat: no-repeat;
    padding-left: 15px;
}

.central__item-props .comment-count {
    position: absolute;
    display: inline-block;
    left: 150px;
    background-image: url("img/icon-comments.png");
    background-repeat: no-repeat;
    padding-left: 15px;
}

.central__item img {
    margin: 0 auto 10px auto;
}

.central__item-text {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
}

.advertising {
    float: right;
    width: 250px;
}

.advertising img {
    margin-bottom: 20px;
}