body {
    margin: 0;
    padding: 0;
    block-size: border-box;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1; /* ie 6/7 */
}

.top-panel {
    width: 100%;
    height: 55px;
    background-color: #00122f;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.spacer {
    clear: both;
}

.top-panel {
    color: white;
}

.top-panel a {
    color: inherit;
}

.top-panel__slogan {
    float: left;
    margin-top: 18px;
}

.top-panel__clock {
    float: right;
    margin-top: 18px;
}

.header {
    display: block;
    margin-top: 40px;
}

.header * {
    border: none;
    background-color: white;
    font-size: 18px;
}

.header__logo {
    float: left;
    position: relative;
}

.header__city {
    float: left;
    position: relative;
    color: #448ccb;
    margin-left: 60px;
    top: 10px;
    text-decoration: underline;
}

.header__search {
    float: right;
    position: relative;
    width: 260px;
    top: 10px;
}

.header__weather {
    float: right;
    position: relative;
    margin-right: 70px;
    color: gray;
    top: 10px;
}

.nav__list {
    list-style: none;
    padding: 0;
    overflow: hidden;
}
.nav__list-item {
    float: left;
    margin-right: 45px;
    margin-left: 0;
    font-size: 16px;
}

.main {
    background-color: gray;
}